@import "tailwindcss";

@layer utilities {
  @media (min-width: 1024px) {
    .lg\:hidden {
      display: none !important;
    }
    .lg\:block {
      display: block !important;
    }
    .lg\:flex {
      display: flex !important;
    }
    .lg\:max-h-none {
      max-height: none !important;
    }
    .lg\:overflow-visible {
      overflow: visible !important;
    }
  }
}

#naverIdLogin img {
  height: 40px !important;
  width: auto !important;
}